[submodule "external/libgvps"]
	path = external/libgvps
	url = https://github.com/Sleepwalking/libgvps
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
